* {
  margin: 0px;
  padding: 0px;
}
.head_group{
  display: inline-block;
}
/* The header */
#poke_head{

}
#head_pic{

}
#div_hilda{

}
span{
  color: #3A2C1C;
  font-weight: bold;
  animation-name: pop;
  animation-duration:  1s;
  animation-iteration-count: infinite;
}
@keyframes pop {
  0%{
    text-shadow: 3px 3px black;
    color: #F9EBF9;
  }
  /* 100%{
    background-color: blue;
  } */
}
#hil_spr{
  height: 85px;
  width: 50px;
}
#div_sprites{

}
/* Header Sprites */
.img_spr{
  height: 65px;
  width: 65px;
}
#div_head{
  background-image: url(https://i.ytimg.com/vi/kGTjxmFvw-w/maxresdefault.jpg);
  width: 700px;
  background-size: cover;
  background-position: 0% 25%;
}
#pokeName{
  text-align: center;
  text-shadow: 1px 1px blue;
  color: white;
}
/* the image container */

#div_img_container{
  height: auto;
  width: auto;
  background-size: cover;
  background-image: url(http://images6.fanpop.com/image/photos/39600000/Cute-Pokemon-Wallpaper-cutest-pokemon-39649663-1920-1080.jpg);
}
#img_hilda{
  height: 500px;
  width: 300px;
}
#div_img{
    display: inline-block;
    margin: 0px 5.1%;
}
#poke_big{
  /* height: 200px;
  width: 200px; */
}
.sketchfab-embed-wrapper{
  display: inline-block;
}
p{
  text-shadow: 2px 2px gray;
  font-weight: bold;
  font-size: 25px;
  color: #3A2C1C;
}
